# Dépendances
node_modules/
dist/
build/

# Fichiers sensibles
*.local
config.json

# Logs
logs/
*.log
npm-debug.log
yarn-error.log

# Cache
.cache/
.tmp/

# Système et IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
.vercel

# Logs
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

